.gradle

build/allure
build/classes
build/downloads
build/generated
build/reports
build/test-results
build/tmp
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**
!build/allure-results

### IntelliJ IDEA ###
.idea/

*.iws
*.iml
*.ipr

/gradle
/gradlew.bat
/gradlew
/settings.gradle